body {
  background-color: #222;
  color: #fff;
}

.navbar-wrapper {
  display: flex;
  justify-content: space-between;
  background-color: #333;
}

.nav-logo-heading {
  padding-left: 2rem;
}

.nav-ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4rem;
  font-size: 1.6rem;
  padding-right: 2rem;
}

.nav-items a {
  text-decoration: none;
  color: #fff;
}

.license-footer {
  margin-top: 2rem;
  padding: 2rem;
  text-align: center;
  background-color: #333;
}

.show-card {
  padding-bottom: 10%;
}

.series-card-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.series-card {
  background-color: #333;
  padding: 20px;
  border-radius: 8px;
}

.series-img {
  width: 100%;
  height: 75%;
  border-radius: 8px;
}

.series-name {
  margin-top: 10px;
}

.like-wrapper {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.fa-thumbs-up {
  color: #fff;
  font-size: 18px;
  margin-right: 5px;
  cursor: pointer;
}

.comments {
  background-color: #555;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  margin-top: 10px;
  cursor: pointer;
  margin-right: 1rem;
}

.comments:hover {
  background-color: #777;
}
